<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Verificentros</key>
	<array>
		<array>
			<dict>
				<key>Nombre</key>
				<string>AC-991 Ecológica Mexicana Lago De Guadalupe, S.A. De C.V</string>
				<key>Tipo</key>
				<string>Solo gasolina.</string>
				<key>Link</key>
				<string>https://goo.gl/maps/iiEehE1rsfkEpSry5</string>
			</dict>
		</array>
		<array>
			<dict>
				<key>Nombre</key>
				<string>AM-997 Servicio Ambiental Amecameca, S.A. De C.V</string>
				<key>Tipo</key>
				<string>Gasolina y diesel</string>
				<key>Link</key>
				<string>https://goo.gl/maps/oAVga6MyPUmRNZgk6</string>
			</dict>
		</array>
		<array>
			<dict>
				<key>Nombre</key>
				<string>AC-991 Ecológica Mexicana Lago De Guadalupe, S.A. De C.V</string>
				<key>Tipo</key>
				<string>Solo gasolina.</string>
				<key>Link</key>
				<string>https://goo.gl/maps/iiEehE1rsfkEpSry5</string>
			</dict>
		</array>
		<array>
			<dict>
				<key>Nombre</key>
				<string>AC-991 Ecológica Mexicana Lago De Guadalupe, S.A. De C.V</string>
				<key>Tipo</key>
				<string>Solo gasolina.</string>
				<key>Link</key>
				<string>https://goo.gl/maps/iiEehE1rsfkEpSry5</string>
			</dict>
		</array>
		<array>
			<dict>
				<key>Nombre</key>
				<string>AC-991 Ecológica Mexicana Lago De Guadalupe, S.A. De C.V</string>
				<key>Tipo</key>
				<string>Solo gasolina.</string>
				<key>Link</key>
				<string>https://goo.gl/maps/iiEehE1rsfkEpSry5</string>
			</dict>
		</array>
		<array>
			<dict>
				<key>Nombre</key>
				<string>AC-991 Ecológica Mexicana Lago De Guadalupe, S.A. De C.V</string>
				<key>Tipo</key>
				<string>Solo gasolina.</string>
				<key>Link</key>
				<string>https://goo.gl/maps/iiEehE1rsfkEpSry5</string>
			</dict>
		</array>
		<array>
			<dict>
				<key>Nombre</key>
				<string>AC-991 Ecológica Mexicana Lago De Guadalupe, S.A. De C.V</string>
				<key>Tipo</key>
				<string>Solo gasolina.</string>
				<key>Link</key>
				<string>https://goo.gl/maps/iiEehE1rsfkEpSry5</string>
			</dict>
		</array>
		<array>
			<dict>
				<key>Nombre</key>
				<string>AC-991 Ecológica Mexicana Lago De Guadalupe, S.A. De C.V</string>
				<key>Tipo</key>
				<string>Solo gasolina.</string>
				<key>Link</key>
				<string>https://goo.gl/maps/iiEehE1rsfkEpSry5</string>
			</dict>
		</array>
		<array>
			<dict>
				<key>Nombre</key>
				<string>AC-991 Ecológica Mexicana Lago De Guadalupe, S.A. De C.V</string>
				<key>Tipo</key>
				<string>Solo gasolina.</string>
				<key>Link</key>
				<string>https://goo.gl/maps/iiEehE1rsfkEpSry5</string>
			</dict>
		</array>
		<array>
			<dict>
				<key>Nombre</key>
				<string>AC-991 Ecológica Mexicana Lago De Guadalupe, S.A. De C.V</string>
				<key>Tipo</key>
				<string>Solo gasolina.</string>
				<key>Link</key>
				<string>https://goo.gl/maps/iiEehE1rsfkEpSry5</string>
			</dict>
		</array>
		<array>
			<dict>
				<key>Nombre</key>
				<string>AC-991 Ecológica Mexicana Lago De Guadalupe, S.A. De C.V</string>
				<key>Tipo</key>
				<string>Solo gasolina.</string>
				<key>Link</key>
				<string>https://goo.gl/maps/iiEehE1rsfkEpSry5</string>
			</dict>
		</array>
		<array>
			<dict>
				<key>Nombre</key>
				<string>AC-991 Ecológica Mexicana Lago De Guadalupe, S.A. De C.V</string>
				<key>Tipo</key>
				<string>Solo gasolina.</string>
				<key>Link</key>
				<string>https://goo.gl/maps/iiEehE1rsfkEpSry5</string>
			</dict>
		</array>
		<array>
			<dict>
				<key>Nombre</key>
				<string>AC-991 Ecológica Mexicana Lago De Guadalupe, S.A. De C.V</string>
				<key>Tipo</key>
				<string>Solo gasolina.</string>
				<key>Link</key>
				<string>https://goo.gl/maps/iiEehE1rsfkEpSry5</string>
			</dict>
		</array>
		<array>
			<dict>
				<key>Nombre</key>
				<string>AC-991 Ecológica Mexicana Lago De Guadalupe, S.A. De C.V</string>
				<key>Tipo</key>
				<string>Solo gasolina.</string>
				<key>Link</key>
				<string>https://goo.gl/maps/iiEehE1rsfkEpSry5</string>
			</dict>
		</array>
		<array>
			<dict>
				<key>Nombre</key>
				<string>AC-991 Ecológica Mexicana Lago De Guadalupe, S.A. De C.V</string>
				<key>Tipo</key>
				<string>Solo gasolina.</string>
				<key>Link</key>
				<string>https://goo.gl/maps/iiEehE1rsfkEpSry5</string>
			</dict>
		</array>
		<array>
			<dict>
				<key>Nombre</key>
				<string>AC-991 Ecológica Mexicana Lago De Guadalupe, S.A. De C.V</string>
				<key>Tipo</key>
				<string>Solo gasolina.</string>
				<key>Link</key>
				<string>https://goo.gl/maps/iiEehE1rsfkEpSry5</string>
			</dict>
		</array>
		<array>
			<dict>
				<key>Nombre</key>
				<string>AC-991 Ecológica Mexicana Lago De Guadalupe, S.A. De C.V</string>
				<key>Tipo</key>
				<string>Solo gasolina.</string>
				<key>Link</key>
				<string>https://goo.gl/maps/iiEehE1rsfkEpSry5</string>
			</dict>
		</array>
		<array>
			<dict>
				<key>Nombre</key>
				<string>AC-991 Ecológica Mexicana Lago De Guadalupe, S.A. De C.V</string>
				<key>Tipo</key>
				<string>Solo gasolina.</string>
				<key>Link</key>
				<string>https://goo.gl/maps/iiEehE1rsfkEpSry5</string>
			</dict>
		</array>
		<array>
			<dict>
				<key>Nombre</key>
				<string>AC-991 Ecológica Mexicana Lago De Guadalupe, S.A. De C.V</string>
				<key>Tipo</key>
				<string>Solo gasolina.</string>
				<key>Link</key>
				<string>https://goo.gl/maps/iiEehE1rsfkEpSry5</string>
			</dict>
		</array>
		<array>
			<dict>
				<key>Nombre</key>
				<string>AC-991 Ecológica Mexicana Lago De Guadalupe, S.A. De C.V</string>
				<key>Tipo</key>
				<string>Solo gasolina.</string>
				<key>Link</key>
				<string>https://goo.gl/maps/iiEehE1rsfkEpSry5</string>
			</dict>
		</array>
		<array>
			<dict>
				<key>Nombre</key>
				<string>AC-991 Ecológica Mexicana Lago De Guadalupe, S.A. De C.V</string>
				<key>Tipo</key>
				<string>Solo gasolina.</string>
				<key>Link</key>
				<string>https://goo.gl/maps/iiEehE1rsfkEpSry5</string>
			</dict>
		</array>
		<array>
			<dict>
				<key>Nombre</key>
				<string>AC-991 Ecológica Mexicana Lago De Guadalupe, S.A. De C.V</string>
				<key>Tipo</key>
				<string>Solo gasolina.</string>
				<key>Link</key>
				<string>https://goo.gl/maps/iiEehE1rsfkEpSry5</string>
			</dict>
		</array>
		<array>
			<dict>
				<key>Nombre</key>
				<string>AC-991 Ecológica Mexicana Lago De Guadalupe, S.A. De C.V</string>
				<key>Tipo</key>
				<string>Solo gasolina.</string>
				<key>Link</key>
				<string>https://goo.gl/maps/iiEehE1rsfkEpSry5</string>
			</dict>
		</array>
		<array>
			<dict>
				<key>Nombre</key>
				<string>AC-991 Ecológica Mexicana Lago De Guadalupe, S.A. De C.V</string>
				<key>Tipo</key>
				<string>Solo gasolina.</string>
				<key>Link</key>
				<string>https://goo.gl/maps/iiEehE1rsfkEpSry5</string>
			</dict>
		</array>
		<array>
			<dict>
				<key>Nombre</key>
				<string>AC-991 Ecológica Mexicana Lago De Guadalupe, S.A. De C.V</string>
				<key>Tipo</key>
				<string>Solo gasolina.</string>
				<key>Link</key>
				<string>https://goo.gl/maps/iiEehE1rsfkEpSry5</string>
			</dict>
		</array>
		<array>
			<dict>
				<key>Nombre</key>
				<string>AC-991 Ecológica Mexicana Lago De Guadalupe, S.A. De C.V</string>
				<key>Tipo</key>
				<string>Solo gasolina.</string>
				<key>Link</key>
				<string>https://goo.gl/maps/iiEehE1rsfkEpSry5</string>
			</dict>
		</array>
		<array>
			<dict>
				<key>Nombre</key>
				<string>AC-991 Ecológica Mexicana Lago De Guadalupe, S.A. De C.V</string>
				<key>Tipo</key>
				<string>Solo gasolina.</string>
				<key>Link</key>
				<string>https://goo.gl/maps/iiEehE1rsfkEpSry5</string>
			</dict>
		</array>
		<array>
			<dict>
				<key>Nombre</key>
				<string>AC-991 Ecológica Mexicana Lago De Guadalupe, S.A. De C.V</string>
				<key>Tipo</key>
				<string>Solo gasolina.</string>
				<key>Link</key>
				<string>https://goo.gl/maps/iiEehE1rsfkEpSry5</string>
			</dict>
		</array>
		<array>
			<dict>
				<key>Nombre</key>
				<string>AC-991 Ecológica Mexicana Lago De Guadalupe, S.A. De C.V</string>
				<key>Tipo</key>
				<string>Solo gasolina.</string>
				<key>Link</key>
				<string>https://goo.gl/maps/iiEehE1rsfkEpSry5</string>
			</dict>
		</array>
		<array>
			<dict>
				<key>Nombre</key>
				<string>AC-991 Ecológica Mexicana Lago De Guadalupe, S.A. De C.V</string>
				<key>Tipo</key>
				<string>Solo gasolina.</string>
				<key>Link</key>
				<string>https://goo.gl/maps/iiEehE1rsfkEpSry5</string>
			</dict>
		</array>
		<array>
			<dict>
				<key>Nombre</key>
				<string>AC-991 Ecológica Mexicana Lago De Guadalupe, S.A. De C.V</string>
				<key>Tipo</key>
				<string>Solo gasolina.</string>
				<key>Link</key>
				<string>https://goo.gl/maps/iiEehE1rsfkEpSry5</string>
			</dict>
		</array>
		<array>
			<dict>
				<key>Nombre</key>
				<string>AC-991 Ecológica Mexicana Lago De Guadalupe, S.A. De C.V</string>
				<key>Tipo</key>
				<string>Solo gasolina.</string>
				<key>Link</key>
				<string>https://goo.gl/maps/iiEehE1rsfkEpSry5</string>
			</dict>
		</array>
	</array>
	<key>Talleres Pirec</key>
	<array>
		<array>
			<dict>
				<key>Nombre</key>
				<string>AC-991 Ecológica Mexicana Lago De Guadalupe, S.A. De C.V</string>
				<key>Tipo</key>
				<string>Solo gasolina.</string>
				<key>Link</key>
				<string>https://goo.gl/maps/iiEehE1rsfkEpSry5</string>
			</dict>
		</array>
		<array>
			<dict>
				<key>Nombre</key>
				<string>AC-991 Ecológica Mexicana Lago De Guadalupe, S.A. De C.V</string>
				<key>Tipo</key>
				<string>Solo gasolina.</string>
				<key>Link</key>
				<string>https://goo.gl/maps/iiEehE1rsfkEpSry5</string>
			</dict>
		</array>
	</array>
</dict>
</plist>
